.bloquecontactenos {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 73px;
	color: #111;
	font-size: 16px;
	font-family: 'Roboto';
	line-height: 1.5;
	letter-spacing: 0px;
	padding: 0 24px;
}

.bloquecontactenos-capa {
	margin-right: auto;
	width: 90%;
	max-width: 367px;
	flex-shrink: 0;
}

.bloquecontactenos-title-frequently-ask-quest {
	color: #008cd7;
	font-size: 40px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0px;
	text-align: left;
}

.bloquecontactenos-col-left {
	width: 560px;
	min-height: 258px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 28px;
	flex-shrink: 0;
	text-align: left;
	border-bottom: 1px solid var(--primary-primary-200);
}

.bloquecontactenos-contenido1 {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-self: stretch;
}

.bloquecontactenos-btn-primary {
	align-self: start;
}

.bloquecontactenos-col-right {
	width: 560px;
	min-height: 258px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 28px;
	flex-shrink: 0;
	border-bottom: 1px solid var(--primary-primary-200);
}

.bloquecontactenos-contenido2 {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-self: stretch;
}

.bloquecontactenos-col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.bloquecontactenos-text-be-a2 {
	align-self: stretch;
	text-align: left;
}

.bloquecontactenos-img {
	width: 288px;
	flex-shrink: 0;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 640px) {
	.bloquecontactenos {
		padding-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@media(max-width:1239px) {
	.bloquecontactenos {
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
	}
	.bloquecontactenos > * {
		margin-left: unset !important;
	}
	.bloquecontactenos > .bloquecontactenos-col-left {
		width: 100%;
		max-width: 560px;
	}
	.bloquecontactenos > .bloquecontactenos-col-right {
		width: 100%;
		max-width: 560px;
	}
}
