.bloque {
	display: flex;
	align-items: center;
	gap: 60px;
	color: #111;
	font-size: 16px;
	font-family: 'Roboto';
	line-height: 1.5;
	letter-spacing: 0px;
	background: linear-gradient(180deg, #e9fdfe 31%, #e8e7fe 122%) top left / auto auto no-repeat;
	padding: 76px 56px;
	border-radius: 64px;
	--minContent: 915;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.bloque-img {
	position: relative;
	width: 98%; height: 366px;
	flex-grow: 1;
	background: url(../assets/bloque/bloque-img.png) top left / cover no-repeat;
	border-radius: 40px;
	--minContent: 138;
	--hSizing: FILL;
	--vSizing: FIXED;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.bloque-isolation {
	position: absolute; bottom: 40px; right: 40px; 
	width: 138px;
	--minContent: 138;
	--hSizing: FIXED;
	--vSizing: FIXED;
	--pConstraintHorizontal: MAX;
	--pConstraintVertical: MAX;
}

.bloque-contenido {
	width: 102%;
	display: flex;
	flex-direction: column;
	gap: 40px;
	flex-grow: 1;
	--minContent: 605;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.bloque-a {
	display: flex;
	flex-direction: column;
	gap: 16px;
	--minContent: 605;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.bloque-title {
	text-align: left;
	--minContent: 605;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.bloque-text {
	--minContent: 605;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.bloque-b {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	--minContent: 605;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.bloque-subtitle {
	align-self: stretch;
	text-align: left;
	--minContent: 605;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.bloque-btn-primary {
	justify-content: center;
	text-align: center;
	--minContent: 175;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}

.bloque-capa {
	width: 96px;
	flex-shrink: 0;
	align-self: start;
	--minContent: 96;
	--hSizing: FIXED;
	--vSizing: FIXED;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 768px) {
	.bloque {
		padding-inline: var(--margin-md);
	}
}

@media screen and (max-width: 576px) {
	.bloque {
		padding-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@media(max-width:914px) {
	.bloque {
		flex-direction: column;
		align-items: stretch;
		gap: 46px;
	}
	.bloque > * {
		margin-top: unset !important;
	}
	.bloque > .bloque-img {
		width: 100%;
	}
	.bloque > .bloque-contenido {
		width: 100%;
	}
}
