.footer {
	display: flex;
	flex-direction: column;
	gap: 61px;
	color: #fff;
	font-size: 14px;
	font-family: 'Roboto';
	line-height: 1.429;
	letter-spacing: 0px;
	background-color: var(--grays-gray-900);
	padding-bottom: 79px;
	--minContent: 1440;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MAX;
}

.footer-rombos {
	margin: 0 auto;
	width: 90%; height: 18px;
	max-width: 562px;
	flex-shrink: 0;
	align-self: start;
	--minContent: 365;
	--hSizing: FIXED;
	--vSizing: FIXED;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}

.footer-col {
	container: footer-col / inline-size;
	margin-left: 124px; margin-right: 123px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 45px;
	--minContent: 1440;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: CENTER;
}

.footer-graphic-top {
	width: 100%; height: 70px;
	max-width: 320px;
	flex-shrink: 0;
	--minContent: 208;
	--hSizing: FIXED;
	--vSizing: FIXED;
	--pConstraintHorizontal: CENTER;
	--pConstraintVertical: MIN;
}

.footer-row {
	container: footer-row / inline-size;
	margin-top: 1px;
	display: flex;
	align-items: center;
	gap: 336px;
	align-self: stretch;
	padding-right: 3px;
	--minContent: 1193;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.footer-text-casual {
	flex-grow: 1;
	--minContent: 454;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: CENTER;
}

.footer-row-right {
	display: flex;
	align-items: center;
	gap: 48px;
	--minContent: 400;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}



/* column */

.column {
	display: flex;
	flex-direction: column;
	gap: 8px;
	flex-shrink: 0;
	--minContent: 168;
	--hSizing: FIXED;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.column-link-btn1 {
	color: var(--basics-white);
	font-style: normal;
	font-weight: 600;
	text-align: left;
	--minContent: 168;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.column-link-btn2 {
	color: var(--basics-white);
	font-style: normal;
	font-weight: 600;
	text-align: left;
	--minContent: 168;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.column-link-btn3 {
	align-self: start;
	color: var(--basics-white);
	font-style: normal;
	font-weight: 600;
	text-align: left;
	--minContent: 168;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}
/* end column*/


.col-left {
	width: 168px;
}

.col-right {
	width: 184px;
}

.footer-line {
	opacity: 0.25;
	width: 100%; height: 2px;
	max-width: 1194px;
	flex-shrink: 0;
	border-top: 1px solid #fff;
	--minContent: 775;
	--hSizing: FIXED;
	--vSizing: FIXED;
	--pConstraintHorizontal: CENTER;
	--pConstraintVertical: MIN;
}

.footer-row-bottom {
	margin-top: 1px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-self: stretch;
	--minContent: 562;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.footer-graphic-left {
	width: 232px; height: 24px;
	flex-shrink: 0;
	--minContent: 232;
	--hSizing: FIXED;
	--vSizing: FIXED;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.footer-text-copyright {
	opacity: 0.7;
	text-align: right;
	--minContent: 330;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1024px) {
	.footer-col {
		margin-inline: var(--margin-md);
	}
}

@media screen and (max-width: 576px) {
	.footer-col {
		margin-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container footer-col (width < 1192px) {
	.footer-row {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
	.footer-row > * {
		text-align: center;
	}
	.footer-row > .footer-text-casual {
		width: 100%;
	}
}

@container footer-row (width < 399px) {
	.footer-row-right {
		flex-direction: column;
		align-items: stretch;
		gap: 8px;
	}
	.footer-row-right > .col-left {
		align-self: center;
	}
	.footer-row-right > .col-right {
		align-self: center;
	}
}

@container footer-col (width < 561px) {
	.footer-row-bottom {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.footer-row-bottom > * {
		text-align: center;
	}
}
