.full-head {
	container: full-head / inline-size;
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	gap: 24px;
	background: linear-gradient(301deg, rgba(0, 56, 86, 0) 9%, #003856 100%) top left / auto auto no-repeat, url(../assets/full-head/full-head.png) center / cover no-repeat;
	padding: 28px 124px 162px 124px;
	overflow: hidden;
	--minContent: 1262;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.full-head-btn-secondary {
	display: flex;
	justify-content: center;
	color: var(--primary-primary-500);
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0px;
	text-align: center;
	background-color: var(--basics-white);
	padding: 7px 31px 7px 32px;
	border: 1px solid var(--primary-primary-500);
	border-radius: 100px;
	--minContent: 125;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.full-head-row-top {
	margin-left: 2px;
	display: flex;
	align-items: flex-start;
	gap: 527px;
	align-self: center;
	--minContent: 1014;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: CENTER;
}

.full-head-logos {
	width: 308px;
	flex-shrink: 0;
	--minContent: 308;
	--hSizing: FIXED;
	--vSizing: FIXED;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}

.full-head-registro {
	margin-top: 15px;
	display: flex;
	align-items: center;
	gap: 12px;
	--minContent: 177;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}



/* circle-icon-btn */

.circle-icon-btn {
	width: 40px; height: 40px;
	flex-shrink: 0;
	background-color: var(--basics-white);
	padding: 10px;
	border: 1px solid var(--primary-primary-500);
	border-radius: 50%;
	--minContent: 40;
	--hSizing: FIXED;
	--vSizing: FIXED;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.circle-icon-btn-icon {
	--minContent: 12;
	--hSizing: FILL;
	--vSizing: FIXED;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}
/* end circle-icon-btn*/


.full-head-navbar {
	backdrop-filter: blur(30px);
	margin-left: 2px;
	width: 100%;
	max-width: 1012px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-self: center;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 12px 28px;
	border-radius: 40px;
	--minContent: 726;
	--hSizing: FIXED;
	--vSizing: HUG;
	--pConstraintHorizontal: CENTER;
	--pConstraintVertical: MIN;
}

.full-head-text-btn1 {
	text-align: left;
	--minContent: 35;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.full-head-text-btn2 {
	text-align: left;
	--minContent: 83;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.full-head-text-btn3 {
	text-align: left;
	--minContent: 48;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.full-head-text-btn4 {
	text-align: left;
	--minContent: 103;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.full-head-text-btn5 {
	text-align: left;
	--minContent: 91;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.full-head-text-btn6 {
	text-align: left;
	--minContent: 64;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.full-head-text-btn7 {
	text-align: left;
	--minContent: 50;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.full-head-text-btn8 {
	text-align: left;
	--minContent: 85;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.full-head-text-btn9 {
	text-align: left;
	--minContent: 52;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.full-head-text-btn10 {
	text-align: left;
	--minContent: 57;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: CENTER;
}

.full-head-contenido {
	margin-top: 92px;
	width: 100%;
	max-width: 580px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-self: start;
	--minContent: 580;
	--hSizing: FIXED;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}

.full-head-title {
	text-align: left;
	--minContent: 580;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.full-head-text-improve {
	text-align: left;
	--minContent: 580;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.full-head-btn-secondary2 {
	align-self: start;
}

.full-head-arrows {
	margin-top: 115px;
	width: 156px;
	flex-shrink: 0;
	align-self: start;
	--minContent: 156;
	--hSizing: FIXED;
	--vSizing: FIXED;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	.full-head {
		padding-inline: var(--margin-md);
	}
	.full-head-navbar {
		padding-inline: var(--margin-sm);
	}
}

@media screen and (max-width: 576px) {
	.full-head {
		padding-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container full-head (width < 1013px) {
	.full-head-row-top {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.full-head-row-top > * {
		margin-top: unset !important;
	}
}

@container full-head (width < 725px) {
	.full-head-navbar {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.full-head-navbar > * {
		text-align: center;
	}
}
