
:root {
	/* color variables */
	--basics-black: #000;
	--basics-white: #fff;
	--grays-gray-900: #111;
	--primary-primary-200: #91ceee;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.headlines-headline-s-regular {
	color: #008cd7;
	font-size: 40px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0px;
}

.base-m-regular {
	color: var(--grays-gray-900);
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0px;
}

.base-m-regular {
	color: #111;
	font-family: 'Roboto';
	font-weight: 400;
}

.base-m-bold {
	color: #111;
	font-family: 'Roboto';
	font-weight: 700;
}



/* button hover utility classes */

.hover-bright:hover {
	filter: brightness(1.2);
}

.btn-primary {
	display: flex;
	justify-content: center;
	color: var(--basics-white);
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0px;
	text-align: center;
	background-color: var(--basics-black);
	padding: 8px 32px 8px 33px;
	border-radius: 100px;
}
