
:root {
	/* color variables */
	--neutral-white: #fff;
	--primary-primary-500: #008cd7;
	--basics-white: #fff;
	--primary-primary-600: #0070ac;
	--secondary-secondary-500: #ff3d00;
	--grays-gray-900: #111;
	--basics-black: #000;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.headlines-headline-m-semibold {
	color: #fff;
	font-size: 48px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	line-height: 1.167;
	letter-spacing: 0px;
}

.base-s-semibold {
	color: var(--primary-primary-600);
	font-size: 14px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	line-height: 1.429;
	letter-spacing: 0px;
}

.headlines-headline-s-regular {
	color: var(--primary-primary-500);
	font-size: 40px;
	font-style: normal;
	line-height: 1.2;
}

.base-m-semibold2 {
	color: var(--basics-white);
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0px;
}

.base-xl-regular {
	color: var(--primary-primary-500);
	font-size: 24px;
	font-style: normal;
	line-height: 1.333;
}

.base-m-semibold1 {
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0px;
}

.base-m-bold {
	font-weight: 700;
}



/* ui objects utility classes */

.btn-black {
	display: flex;
	background-color: var(--basics-black);
	padding: 8px 32px 8px 33px;
	border-radius: 100px;
}



/* button hover utility classes */

.hover-bright:hover {
	filter: brightness(1.2);
}

.hover-dark:hover {
	filter: brightness(0.85);
}
