
:root {
	/* color variables */
	--basics-black: #000;
	--basics-white: #fff;
	--primary-primary-500: #008cd7;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.headlines-headline-s-regular {
	color: #008cd7;
	font-size: 40px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0px;
}

.base-m-semibold {
	color: var(--basics-white);
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0px;
}

.base-m-regular {
	color: #000;
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0px;
}



/* ui objects utility classes */

.btn-black {
	display: flex;
	background-color: var(--basics-black);
	padding: 8px 33px;
	border-radius: 100px;
}



/* button hover utility classes */

.hover-bright:hover {
	filter: brightness(1.2);
}
