
:root {
	/* color variables */
	--neutral-white: #fff;
	--primary-primary-600: #0070ac;
	--primary-primary-900: #001c2b;
	--basics-white: #fff;
	--primary-primary-500: #008cd7;
	--primary-primary-100: #bfe2f5;
	--grays-gray-100: #dbdbdb;
	--grays-gray-900: #111;
	--secondary-secondary-500: #ff3d00;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.base-s-semibold {
	color: var(--primary-primary-600);
	font-size: 14px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	line-height: 1.429;
	letter-spacing: 0px;
}

.headlines-headline-m-semibold {
	color: #fff;
	font-size: 48px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	line-height: 1.167;
	letter-spacing: 0px;
}

.headlines-headline-s-regular {
	font-size: 40px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0px;
}

.base-m-regular {
	color: #3a4c66;
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0px;
}

.base-m-semibold {
	font-size: 16px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0px;
}

.base-m-regular {
	color: #111;
	font-family: 'Roboto';
	font-weight: 400;
}

.base-m-bold {
	color: #111;
	font-family: 'Roboto';
	font-weight: 700;
}

.base-s-regular {
	color: var(--grays-gray-900);
	font-family: 'Roboto';
	font-weight: 400;
}

.base-s-bold {
	color: var(--primary-primary-500);
	font-family: 'Roboto';
	font-weight: 700;
}



/* ui objects utility classes */

.btn-white {
	display: flex;
	background-color: var(--basics-white);
	padding: 7px 31px 7px 32px;
	border: 1px solid var(--primary-primary-500);
	border-radius: 100px;
}



/* button hover utility classes */

.hover-dark:hover {
	filter: brightness(0.85);
}


.btn-light {
    display: flex;
    background-color: var(--primary-primary-100);
    padding: 2px 10px 2px 11px;
    border-radius: 100px;
}

.base-xs-regular {
    color: var(--basics-black);
    font-size: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.333;
    letter-spacing: 0px;
}

.card-white {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding-left: 35px;
    padding-right: 34px;
    border: 1px solid var(--grays-gray-100);
    border-radius: 40px;
}